body {
    background-color: #241E4E;
}
     
     
     
     .field {
            width: 100%;
            padding: 10px 8px;
            margin: 8px 0 8px 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #FFF5D1;
            color: #241E4E;
            box-sizing: border-box;
            &:focus {
                outline: none;
            }
        }