body {
    background-color: #241E4E;

    .registerForm {
        border: 3px dotted #FFF5D1;
        display: flex;
        flex-wrap: wrap;
        width: 36%;
        margin: 6% auto 0;
        padding: 1%;
        justify-content: center;
        background-color: #960200;
        border-radius: 4px;
    
        h1 {
            color: #FFF5D1;
            font-family: "Lobster";
            font-size: 2.6rem;
        }
    
        label {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 2% 0;
            color: #FFF5D1;
            font-family: "Lobster";
            font-size: 1.4rem;
    
            .field {
                width: 44%;
                padding: 10px 4px;
                display: flex;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #FFF5D1;
                color: #241E4E;
                box-sizing: border-box;
                &:focus {
                    outline: none;
                }
            }
    
            p {
                width: 10px;
                color: #FFD046;
                margin: 0;
                font-size: 1rem;
            }
    
        }
    
        .register-button {
            width: 30%;
            color: #FFF5D1;
            border-radius: 4px;
            padding: 6px 0;
            border: none;
            background-color:  #241E4E;
            margin: 6% 0 4%;
            font-family: "Lobster";
            font-size: 1.4em;
            transition: .2s;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: rgb(62, 71, 145);
                text-shadow: 4px 4px rgba(0, 0, 0, .5);
                box-shadow: 4px 4px rgba(0, 0, 0, .8);
                transition: .3s;
            }
        }
        a {
            width: 100%;
            color: #FFF5D1;
            text-decoration: none;
            margin: 0 0 2%;
            transition: .2s;
            &:hover {
                color: rgb(238, 184, 67);
                transition: .2s;
            }
        }
    }
}

